html {
	height: 100%;
}
body {
	font: 'Raleway', sans-serif;
    color: rgba(0,0,0,.5);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .5em;
    top: 15%;
		background-repeat: no-repeat;
		background-size: cover;
	/* background: linear-gradient(to right, red , yellow); /* Standard syntax */ */
}

h1 {
    font: 600 3.5em 'Raleway', sans-serif;
    color: rgba(0,0,0,.5);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .5em;
    width: 100%;
}

h3 {
	font: 900 1em 'Raleway', sans-serif;
    color: rgba(0,0,0,.5);
    text-align: center;
    text-transform: none;
    letter-spacing: 0.01em;

}

.color1, .color2{
	margin-bottom: 2em;
	/* border-radius: 5px; */
	padding: .5em;
}

.button {
	font: 900 1em 'Raleway', sans-serif;
	color: rgba(0,50, 250, .5);
	font-size: 1.25em;
	padding: 1em;
	border-radius: 20px;
	border: none;
	outline: none;
}

.button:hover, .color1:hover, .color2:hover {
	color: rgba(0,50,150,.8);
	border: 1px solid rgb(78,177,157);
}
